fastapi[standard]
uvicorn
gunicorn
langchain
langgraph
langchain-openrouter
langchain-mongodb
langchain-text-splitters
langchain-community
langchain-huggingface
faiss-cpu
PyPDF2
gdown
python-dotenv
pymongo
bcrypt
pypdf
# Removed heavy: spacy, sentence-transformers, ollama, pytesseract
